<div id="player1_name" class="float_left">
  p1 name here
</div>
<div id="player2_name" class="float_right">
  p2 name here
</div>


<div id="player_scorearea">
  <div id="player1_score" class="float_left">
  	<ul>
  		
  	</ul>
  </div>
  
  <div id="player2_score" class="float_right">
  	<ul>
  		
  	</ul>
  </div>
</div>


<div id="player1_totalscore" class="float_left">
  p1 totalscore
</div>
<div id="player2_totalscore" class="float_right">
  p2 totalscore
</div>