<div id="player1_score">
  <div id="player1_name">
    p1 name here
  </div>
	<ul>
		
	</ul>
</div>
	
<div id="player2_score">
  <div id="player2_name">
    p2 name here
  </div>
	<ul>
		
	</ul>
</div>