<div id="player1_name">
  p1 name here
</div>
<div id="player2_name">
  p2 name here
</div>


<div id="player_scorearea">
  <div id="player1_score">
  	<ul>
  		
  	</ul>
  </div>
  
  <div id="player2_score">
  	<ul>
  		
  	</ul>
  </div>
</div>


<div id="player1_totalscore">
  p1 totalscore
</div>
<div id="player2_totalscore">
  p2 totalscore
</div>