// Place all the styles related to the Dartboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#the_scoreboard
{
  position: relative;
  width:324px;
  height:768px;
  float:left;
}

#player_scorearea
{
  overflow:auto;
  width:324px;
  height:745px;
}

#the_dartboard
{
  position:relative;
  float:right;
  width:700px;
  height:768px;
}

#the_container
{
  width:1024px;
  height:768px;
}

#player1_name
{
  position:relative;
  float:left;
}

#player2_name
{
  position:relative;
  float:right;
}

#player1_score 
{
  position:relative;
  float:left;
}

#player2_score
{
  position:relative;
  float:right;
}

#player1_totalscore
{
  position:relative;
  float:left;
}

#player2_totalscore
{
  position:relative;
  float:right;
}
